[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
lxml = "*"
selenium = "==3.3.0"
gspread = "*"
pandas = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
